

/* Basic Structure */

body {
	text-align: center;				/* This is a hack for older browsers to center the page */
	background-color: #eee;
	color: white;
}

#container {
	margin: 0 auto; 				/* This centers the page in modern browsers */
	text-align: left; 				/* This is a hack for older browsers to center the page */
	width: 960px; 					/* This sets our total page width */
	background-color: blue;
}

#header {
	width: 960px;					/* This sets the header to stretch the full page width */
	background-color: aqua;
	height: 100px;
}

#navigation li {
	display: inline; 				/* Make our navigation display in a line */
}



/* Content */

#content {
	float: right;					/* This causes the content to move to the right */
	width: 75%;					/* We need to set the width whenever we float an element */
    background-image: url("../images/goldenGateBW.jpg");
    background-position: center ;
	-webkit-background-size: cover;
	-moz-background-size: cover ;
	background-size: cover ;
	-o-background-size: cover ;
	text-align: center ;
	display: grid;
	align-content: center ;
	color: black;
}

#content h1{
	font-weight: 600;
	font-size: 50px;
    color: white;
    text-align: left ;
}
#content h3{
	font-weight: 600;
	font-size: 35px;
    color: white;
    text-align: left ;
}
#content ul{
	margin-top: 30px;
	padding-left: 0px ;
	list-style-type: none;
}
#content li{
  display: inline-block ;
}
#content .top{
  /* background-color: #fff6; */
  padding: 5%;
}



/* sideBar */

#sideBar {
	float: left; 					/* This causes the sidebar to move to the left */
	width: 25%; 					/* We need to set the width whenever we float an element */
    background-color: rgba(205, 0, 0, 0.69); 
    height: 100vh;
}

#sideBar h1{
    font-size: 35px;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#sideBar h3{
	color: white;
    font-size: 25px;
    
    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#sideBar h4{
	color: white;
	font-size: 20px;
}

#sideBar img{
	grid-area: graphic;
	border-radius: 50% ;
	max-width: 300px;
	vertical-align: middle;
  }



#footer {
	clear: both; 					/* This makes sure that the footer clears both the sidebar and content floats */
	width: 960px;					/* This sets the footer to stretch the full page width */
	background-color: black;
	width: 960px;
}




/*Side Bar*/

/*SideBar{
    height: 100vh;
    background-image: url("../images/goldenGate.jpg");
	background-position: center ;
	-webkit-background-size: cover;
	-moz-background-size: cover ;
	background-size: cover ;
	-o-background-size: cover ;
	text-align: center ;
	display: grid;
	align-content: center ;
	color: black;
}

SideBar h1{
	color: white;
	font-size: 25px;
}

SideBar h3{
	color: white;
	font-size: 20px;
}

SideBar h4{
	color: white;
	font-size: 15px;
}
