/*Solid Border*/

#solid{
	border-top: 10px solid black;
}

footer{
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 20px;
}

section{
    padding-left: 10%;
    padding-right: 10%;
}

h1{
	color: #604848;
	font-size: 40px;
}

h3{
	color: #604848;
	font-size: 25px;
}

h4{
	color: #604848;
	font-size: 20px;
}

li{
	font-size: 20px;
}

p{
	font-size: 20px;
}

/*Header*/

header{
    height: 100vh;
    background-image: url("../images/goldenGate.jpg");
	background-position: center ;
	-webkit-background-size: cover;
	-moz-background-size: cover ;
	background-size: cover ;
	-o-background-size: cover ;
	text-align: center ;
	display: grid;
	align-content: center ;
	color: black;
}
header h1{
	font-weight: 600;
	font-size: 65px;
	color: black;
}
header h3{
	font-weight: 600;
	font-size: 30px;
	color: black;
}
header ul{
	margin-top: 30px;
	padding-left: 0px ;
	list-style-type: none;
}
header li{
  display: inline-block ;
}
header .content{
  background-color: #fff6;
  padding: 5%;
}

/*Education*/

#education #CalPoly{
	display: grid;
	width: 100%;
	grid-gap: 20px;
	align-content: center ;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		"bachelor master"
		;
}

#CalPoly .master{
	grid-area: master;
	display: inline;
	grid-area: content;
	text-align: left ;
  	vertical-align: middle;
  	grid-column: 2 / 3;
}

#CalPoly .bachelor{
	grid-area: bachelor;
	display: inline;
	grid-area: content;
	text-align: left ;
  	vertical-align: middle;
  	grid-column: 1 / 2;
}

/*Experience*/


/*About me*/


#about #soccer{
	display: grid;
	width: 100%;
	grid-gap: 20px;
	align-content: center ;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 
		"content graphic graphic3"
		;
}

#soccer .content{
	display: inline;
	  grid-area: content;
	  text-align: left ;
	vertical-align: middle;
  }

#soccer img{
	grid-area: graphic3;
	border-radius: 20% ;
	max-width: 90%;
	height: auto;
	vertical-align: middle;
  }

  #soccer img{
	grid-area: graphic;
	border-radius: 20% ;
	max-width: 95%;
	vertical-align: middle;
  }

#about #hiking{
	display: grid;
	width: 100%;
	grid-gap: 20px;
	align-content: center ;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 
		"graphic content graphic2"
		;
}

#hiking .content{
	display: inline;
	  grid-area: content;
	  text-align: left ;
	vertical-align: middle;
  }

#hiking img{
	grid-area: graphic2;
	border-radius: 20% ;
	max-width: 95%;
	vertical-align: middle;
  }