

/*.project {
    background-color: rgb(255, 221, 182);
    top: 0px;
    padding-top: 100px;
    padding-bottom: 20px;
    min-width: 100px;
    margin: auto;
    text-align: center;
}*/

.table {
    display: flex;
    /*width: 100%;*/
    margin-left: 10%;
    margin-right: 10%;
}

/*.project .h1 {
    padding-bottom: 20px;
}

.project .h3 {
    text-align: left;
    padding-left: 10%;
    padding-right: 10%
}*/


/* ipad */

@media only screen and (max-width: 768px) {

    .table {
        margin-left: 5%;
        margin-right: 5%;
    }

}

/* iphone X */

@media only screen and (max-width: 450px) {

    .table {
        margin-left: 0%;
        margin-right: 0%;
    }

}