

.main {
    min-height: 100vh;
    /*margin-top: 0px; /* Add a top margin to avoid content overlay */
    top: 0px;
    background-image: url("../images/RayFace2.jpg");
    background-position-y: 80px;
    background-position-x: 0px; 
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover ;
    /*background-size: cover;*/
    background-size: 100%;
    -o-background-size: cover ;
    display: grid;
    align-content: top;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.main .mechanical {
    text-align: center;
    padding-left: 10%;
    padding-right: 40%;
    padding-top: 250px;
}

.main .coder {
    text-align: center;
    padding-left: 40%;
    padding-right: 10%;
    padding-top: 250px;
}

.main .h1{
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 60px;
}

.main .h3{
    text-align: left;
    color: rgb(0, 0, 0);
    font-weight: 80;
    font-size: 24px;
}


/* ipad */

@media only screen and (max-width: 768px) {

    .main .mechanical {
        padding-top: 175px;
    }
    
    .main .coder {
        padding-top: 175px;
    }



    .main .h1{
        font-size: 30px;
    }
    
    .main .h3{
        font-size: 15px;
    }

}

/* iphone X */

@media only screen and (max-width: 450px) {

    .main .mechanical {
        padding-top: 150px;
    }
    
    .main .coder {
        padding-top: 150px;
    }

    .main .h1{
        font-size: 16px;
    }
    
    .main .h3{
        font-size: 10px;
    }

}