
.title {
    top: 0px;
    padding-top: 120px;
    padding-bottom: 20px;
    min-width: 100px;
    margin: auto;
    text-align: center;
}

.title .h4 {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
}
/*
.project .h1 {
    padding-bottom: 20px;
}

.project .h3 {
    text-align: left;
    padding-left: 10%;
    padding-right: 10%
}*/