footer{
	padding-left: 10%;
	padding-right: 10%;
	margin-bottom: 20px;
}

#contact .header{
	grid-area: header ;
}

#contact .content{
	grid-area: content;
}
#contact #list{
	padding-left: 0px ;
	grid-area: list ;
}
#contact .btn-social-icon{
	background-color: #604848;
}
#contact .btn-social-icon:hover{
	background-color: #fff;
}

#contact ul{
	padding-left: 0px ;
}
#contact li{
	display: inline ;
}