
/* Main */

.main {
    /*min-height: 60vh;*/
    /*margin-top: 0px; /* Add a top margin to avoid content overlay */
    top: 0px;
    background-color: #6688a3;
    background-image: url("../images/RayFace2.jpg");
    background-position-y: 80px;
    background-position-x: center; 
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    /*background-size: cover;*/
    /*background-size: 100%;*/
    background-size: contain;
    -o-background-size: cover ;
    display: grid;
    align-content: top;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    padding-bottom: 150px;
    padding-bottom: 20%;
    max-height: 80vh;
    width: 100%;
}

.main .mechanical {
    text-align: center;
    padding-left: 10%;
    padding-right: 40%;
    padding-top: 250px;
}

.main .coder {
    text-align: center;
    padding-left: 40%;
    padding-right: 10%;
    padding-top: 250px;
}

.main .h1{
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 60px;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

.main .h3{
    text-align: left;
    color: rgb(0, 0, 0);
    font-weight: 80;
    font-size: 24px;
    letter-spacing: 1px;  
}


/* Main2 */

.main2 {
    top: 0px;
    background-color: rgb(245, 245, 245);
    max-height: 20vh;
}

.main2 h1{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.main2 h3{
    text-align: left;
}



/* Main3 */

.main3 {
    top: 0px;
    background-color: rgb(245, 245, 245);
    display: grid;
    align-content: top;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "past present future"
    ;
}

.main3 .past{
    background-color: rgb(182, 218, 213);
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
}

.main3 .present{
    background-color: rgb(157, 219, 211);
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
}

.main3 .future{
    background-color: rgb(120, 221, 208);
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
}

.main3 h2{
    text-align: center;
}

.main3 h4{
    text-align: left;
}



/* ipad */

@media only screen and (max-width: 768px) {

    .main .mechanical {
        padding-top: 175px;
    }
    
    .main .coder {
        padding-top: 175px;
    }



    .main .h1{
        font-size: 30px;
    }
    
    .main .h3{
        font-size: 15px;
    }

    .main2 h1{
        padding-top: 50px;
        padding-bottom: 50px;
    }

}

/* iphone X */

@media only screen and (max-width: 450px) {

    .main .mechanical {
        padding-top: 150px;
    }
    
    .main .coder {
        padding-top: 150px;
    }

    .main .h1{
        font-size: 16px;
    }
    
    .main .h3{
        font-size: 10px;
    }

    .main2 h1{
        padding-top: 40px;
        padding-bottom: 40px;
    }

}