

.background {
    top: 0px;
    padding-top: 100px;
    padding-bottom: 20px;
    min-width: 100px;
    margin: auto;
    text-align: center;
}

.h1 {
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
}


.h2 {
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: left;
}
h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}


div {
    padding-top: 0px;
    padding-bottom: 10px;
}

.education {
    background-color: rgb(182, 246, 255);
    top: 0px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 30px;
    min-width: 100px;
    margin: auto;
}

.education degree {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area:
    "master bachelor";
}

bachelor,
master {
    margin: auto;
    padding-top: 0px;
    padding-bottom: 30px;
}

.education coursework {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area:
    "column1 column2";
}

column1,
column2 {
    margin: auto;
    padding-top: 0px;
    padding-bottom: 30px;
}

.thesis {
    background-color: rgb(220, 182, 255);
    top: 0px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 30px;
    min-width: 100px;
    margin: auto;
}


img {
    display: block;
    width: 50%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 3%;
    padding-right: 3%;
    margin: auto;
    float: left;
    /*border-radius: 15%;*/
}

.experience {
    background-color: rgb(182, 246, 255);
    top: 0px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 30px;
    min-width: 100px;
    margin: auto;
}